In [1]:
import pandas as pd
import numpy as np

# Load data
data = pd.read_csv('../data/sti_raw.csv')

In [2]:
data.head()
print(data['Pitchers State'].dtype,data['Pitchers City'].dtype)

object object

In [3]:
print(data.iloc[380:390,15:20])

     Female Presenters  Transgender Presenters  Couple Presenters  \
380                1.0                     NaN                0.0
381                NaN                     NaN                0.0
382                NaN                     NaN                0.0
383                1.0                     NaN                1.0
384                2.0                     NaN                0.0
385                NaN                     NaN                0.0
386                1.0                     NaN                0.0
387                1.0                     NaN                1.0
388                NaN                     NaN                0.0
389                2.0                     NaN                0.0

    Pitchers Average Age Pitchers City
380               Middle        Mumbai
381                Young        Mumbai
382               Middle           NaN
383               Middle     Bangalore
384               Middle         Delhi
385               Middle         Delhi
386               Middle         Delhi
387               Middle     Bangalore
388               Middle     Hyderabad
389               Middle  Delhi,Mumbai

In [4]:
col='Net Margin'
print(data[col].dtype)
print(data[col].unique())

float64
[nan 20.  1. 10. 25.  6. 34. 15. 55. 16. 40. 30. 21. 28. 38. 19. 18. 26.
 35.  5. 24. 13.  3.  8. 23. 11.  4.  7. 45. 17. 50.  9. 12.]

In [5]:
data.columns

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Episode Title',
       'Anchor', 'Industry', 'Business Description', 'Company Website',
       'Started in', 'Number of Presenters', 'Male Presenters',
       'Female Presenters', 'Transgender Presenters', 'Couple Presenters',
       'Pitchers Average Age', 'Pitchers City', 'Pitchers State',
       'Yearly Revenue', 'Monthly Sales', 'Gross Margin', 'Net Margin',
       'EBITDA', 'Cash Burn', 'SKUs', 'Has Patents', 'Bootstrapped',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Received Offer', 'Accepted Offer', 'Total Deal Amount',
       'Total Deal Equity', 'Total Deal Debt', 'Debt Interest',
       'Deal Valuation', 'Number of Sharks in Deal', 'Deal Has Conditions',
       'Royalty Deal', 'Advisory Shares Equity', 'Namita Investment Amount',
       'Namita Investment Equity', 'Namita Debt Amount',
       'Vineeta Investment Amount', 'Vineeta Investment Equity',
       'Vineeta Debt Amount', 'Anupam Investment Amount',
       'Anupam Investment Equity', 'Anupam Debt Amount',
       'Aman Investment Amount', 'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Amit Investment Amount',
       'Amit Investment Equity', 'Amit Debt Amount',
       'Ashneer Investment Amount', 'Ashneer Investment Equity',
       'Ashneer Debt Amount', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Debt Amount', 'Invested Guest Name',
       'All Guest Names', 'Namita Present', 'Vineeta Present',
       'Anupam Present', 'Aman Present', 'Peyush Present', 'Amit Present',
       'Ashneer Present', 'Guest Present'],
      dtype='object')

In [6]:
data=data.drop(['Male Presenters',
       'Female Presenters', 'Transgender Presenters', 'Couple Presenters','Anchor'],axis=1)

In [7]:
guest_names=data['All Guest Names'].dropna().str.split(',').explode().unique()
guest_names

array(['Ghazal Alagh', 'Vikas D Nahar', 'Deepinder Goyal',
       'Ritesh Aggarwal', 'Azhar Iqubal', 'Radhika Gupta',
       'Ronnie Screwvala', 'Varun Dua'], dtype=object)

In [8]:
print(data.columns)

Index(['Season Number', 'Startup Name', 'Episode Number', 'Pitch Number',
       'Season Start', 'Season End', 'Original Air Date', 'Episode Title',
       'Industry', 'Business Description', 'Company Website', 'Started in',
       'Number of Presenters', 'Pitchers Average Age', 'Pitchers City',
       'Pitchers State', 'Yearly Revenue', 'Monthly Sales', 'Gross Margin',
       'Net Margin', 'EBITDA', 'Cash Burn', 'SKUs', 'Has Patents',
       'Bootstrapped', 'Original Ask Amount', 'Original Offered Equity',
       'Valuation Requested', 'Received Offer', 'Accepted Offer',
       'Total Deal Amount', 'Total Deal Equity', 'Total Deal Debt',
       'Debt Interest', 'Deal Valuation', 'Number of Sharks in Deal',
       'Deal Has Conditions', 'Royalty Deal', 'Advisory Shares Equity',
       'Namita Investment Amount', 'Namita Investment Equity',
       'Namita Debt Amount', 'Vineeta Investment Amount',
       'Vineeta Investment Equity', 'Vineeta Debt Amount',
       'Anupam Investment Amount', 'Anupam Investment Equity',
       'Anupam Debt Amount', 'Aman Investment Amount',
       'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Amit Investment Amount',
       'Amit Investment Equity', 'Amit Debt Amount',
       'Ashneer Investment Amount', 'Ashneer Investment Equity',
       'Ashneer Debt Amount', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Debt Amount', 'Invested Guest Name',
       'All Guest Names', 'Namita Present', 'Vineeta Present',
       'Anupam Present', 'Aman Present', 'Peyush Present', 'Amit Present',
       'Ashneer Present', 'Guest Present'],
      dtype='object')

In [9]:
for index, row in data.iterrows():
    if pd.notna(row['Invested Guest Name']):
        guests = row['Invested Guest Name'].split(',')
        num_guest_investors=len(guests)
        print(guests,num_guest_investors)
        for guest in guests:
            guest_name = guest.strip().split(" ")[0]
            data.at[index, f'{guest_name} Investment Amount'] = row['Guest Investment Amount']/num_guest_investors
            data.at[index, f'{guest_name} Investment Equity'] = row['Guest Investment Equity']/num_guest_investors
            data.at[index, f'{guest_name} Debt Amount'] = row['Guest Debt Amount']/num_guest_investors
            data.at[index, f'{guest_name} Present'] = 1

['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Ghazal Alagh'] 1
['Vikas D Nahar'] 1
['Vikas D Nahar'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Azhar Iqubal'] 1
['Azhar Iqubal'] 1
['Ritesh Aggarwal', 'Radhika Gupta'] 2
['Deepinder Goyal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal', 'Radhika Gupta'] 2
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ronnie Screwvala'] 1
['Ronnie Screwvala'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Azhar Iqubal'] 1
['Varun Dua', 'Radhika Gupta'] 2
['Varun Dua'] 1
['Azhar Iqubal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal', 'Radhika Gupta'] 2
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Ritesh Aggarwal'] 1
['Azhar Iqubal'] 1
['Radhika Gupta'] 1
['Azhar Iqubal', 'Radhika Gupta'] 2

In [10]:
data['Industry'].unique()

array(['Food', 'Vehicles/Electrical Vehicles', 'Beauty/Fashion',
       'Education', 'Agriculture', 'Medical/Health', 'Manufacturing',
       'Technology/Software', 'Electronics', 'Animal/Pets', 'Services',
       'Hardware', 'Sports', 'Liquor/Beverages', 'Entertainment',
       'Furnishing/Household', 'Others'], dtype=object)

In [11]:
data['Pitchers City'] = data['Pitchers City'].astype(str).apply(lambda x: x.split(',')[0].strip())
data['Pitchers State'] = data['Pitchers State'].astype(str).apply(lambda x: x.split(',')[0])

In [12]:
data.to_csv("../data/updated.csv",index=False)

In [13]:
data['Pitchers State'].dtype

dtype('O')